<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <title>Booking History</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="static/styles/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/styles/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="static/styles/responsive.css" rel="stylesheet" />
</head>
<body>
    {% include 'nav.html' %}
    <h1>Your Booking History</h1>
    <div class="history">
        <div class="history-item">
            <h3>Weight Loss Program</h3>
            <p>Date: 2024-08-01 | Time: 10:00 AM</p>
        </div>
        <div class="history-item">
            <h3>Strength Training</h3>
            <p>Date: 2024-08-03 | Time: 02:00 PM</p>
        </div>
    </div>
</body>
</html>
