<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>ARS-Gym</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="static/styles/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/styles/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="static/styles/responsive.css" rel="stylesheet" />
    </head>
    <body>
    <div class="hero_area">
        <!-- Include the navigation bar -->
        {% include 'nav.html' %}
        <!-- slider section -->
        <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="detail-box">
                    <div>
                        <h2>
                        ARS-Gym
                        </h2>
                        <h1>
                        View our Services
                        </h1>
                        <p>
                        Transfrom your strength. Elevate your life.
                        </p>
                        <div class="">
                        <a href="/services">
                            SERVICES
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="detail-box">
                    <div>
                        <h2>
                        ARS-Gym
                        </h2>
                        <h1>
                        Book an Appointment
                        </h1>
                        <p>
                        Transfrom your strength. Elevate your life.
                        </p>
                        <div class="">
                        <a href="/bookings">
                            BOOK
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="detail-box">
                    <div>
                        <h2>
                        ARS-Gym
                        </h2>
                        <h1>
                        View Announcements
                        </h1>
                        <p>
                        Transfrom your strength. Elevate your life.
                        </p>
                        <div class="">
                        <a href="/news">
                            ANNOUNCEMENTS
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
        </div>
        </section>
        <!-- end slider section -->
    </div>

    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

    </body>
</html>
